*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2B206F;
}


.nav-bar ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    
}
.button{
    width: 250px;
    height: 50px;
    background-color: ;





}