.grid-box{
display: grid;
grid-template-columns: repeat(4,1fr);
height: 400px;
gap: 10px;
background-color: navy;
padding-top: 150px;
padding-bottom: 250px;
padding-left: 50px;
padding-right: 50px;
}


.box{
border: 1px solid rgb(6, 247, 126);
background-color: blue;
text-align: center;
align-content: center;
gap: 10px;
}

.b1{
    grid-row: 1/4;
    background-color: rgb(0, 96, 0);
}
.b2{
    grid-column: 2/4;
    background-color: rgb(0, 96, 0);
}
.b6{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: rgb(0, 96, 0);
}
.b3{
    background-color: red;
}
.b4{
    background-color: orange;
}
.b5{
    background-color: red;
}
.b7{
    background-color: red;
}
.b8{
    background-color: orange;
}