.flex {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.design1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 500px;
    width: 350px;
    border: 1px solid black;
    text-align: center;
}

button {
    height: 50px;
    width: 250px;
    border-radius: 125px;
    background-color: black;
    color: aliceblue;
}

.paragraph {
    line-height: 2;
}

.design2 {
    height: 500px;
    width: 350px;
    background-color: rgb(206, 58, 83);
    border: 1px solid rgb(255, 0, 106);
    text-align: center;
    color: white;
}

.button2 {
    height: 50px;
    width: 250px;
    border-radius: 125px;
    background-color: white;
    color: rgb(229, 122, 140);
}

.paragraph2 {
    line-height: 2;
}

.design3 {
    height: 500px;
    width: 350px;
    border: 1px solid black;
    text-align: center;
    color: black;
}

.button3 {
    height: 50px;
    width: 250px;
    border-radius: 125px;
}

.paragraph3 {
    line-height: 2;
}